@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root[data-theme="light"] {
    --mainBlue: #1bbeff; 
    --mainDarkerBlue: #00aff5;
    --mainLightThemeTextColor: #00121a;
    color: white;
}

:root[data-theme="dark"] {
    --mainBlue: #1bbeff; 
    --mainDarkerBlue: #00aff5;
    --mainLightThemeTextColor: #00121a;
    color: white;
}

:root[data-theme="light"] body {
    background-color: white;
}

:root[data-theme="dark"] body {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2, h3, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header {
    background-color: var(--mainBlue);
    display: flex;
    border-bottom: 13px solid var(--mainDarkerBlue);
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    width: 99%;
    z-index: 1;
    border-radius: 13px;
    align-self: center;
    margin-top: 8px;
    max-height: 104px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
    padding: 3px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnConfirm {
    background-color: var(--mainBlue);
    color: white;
    font-weight: bold;
    padding: 3px 10px;
}

.btnConfirm:hover {
    background-color: var(--mainDarkerBlue);
}

#btnTheme {
    position: relative;
    border-radius: 50px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

.sun#btnTheme {
    background-color: darkblue;
    border: 2px solid white;
} 

.moon#btnTheme {
    background-color: white;
    border: 2px solid darkblue;
} 

#btnTheme::before {
    position: absolute;
    left: 9px;
    transition: 0.6s;
    content: "";
    height: 29px;
    width: 29px;
    background-color: white;
    border-radius: 10000px;
}

.sun#btnTheme::before {
    transition: 0.5s;
    background-color: white;
}

.moon#btnTheme::before {
    transform: translate(47px, 0);
    transition: 0.5s;
    background-color: darkblue;
}

#btnSideBar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding: 6px 7px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
}

#btnSideBar:hover  {
    background-color: var(--mainDarkerBlue);
}

#content {
    flex: 1;
    display: flex;
    margin-top: 112px;
    overflow: overlay;
    position: relative;
    padding: 8px 0;
    width: 100%;
    gap: 8px;
}

:root[data-theme="light"] #sidebar {
    background-color: #ffffff;
}

:root[data-theme="dark"] #sidebar {
    background-color: black;
    color: white;
}

#sidebar {
    color: var(--mainLightThemeTextColor);
    border: 3px solid var(--mainDarkerBlue);
    width: 310px;
    border-radius: 20px;
    overflow: overlay;
    position: sticky;
    transition: 0.3s;
    margin-left: 7px;
}

:root[data-theme="light"] .section-title {
    border-bottom: 2px solid var(--mainLightThemeTextColor);
}

:root[data-theme="dark"] .section-title {
    border-bottom: 2px solid white;
}

.section-title {
    margin-left: 24px;
    margin-bottom: 8px;
    padding-left: 5px;
    margin-top: 15px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:root[data-theme="light"] .sidebar-item {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-left: 34px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 5px;
    gap: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    background-color: white;
}

:root[data-theme="dark"] .sidebar-item {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-left: 34px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 5px;
    gap: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 3px rgb(255 255 255 / 8%);
    cursor: pointer;
    background-color: black;
    color: white;
}

.sidebar-item > * {
    cursor: pointer;
}

:root[data-theme="light"] .sidebar-item:hover {
    background-color: var(--mainDarkerBlue);
    color: white;
}

:root[data-theme="dark"] .sidebar-item:hover {
    background-color: var(--mainLightThemeTextColor);
    color: #00b7ff;
}

.btnFilter img {
    height: 28px;
}

.project-item {
    position: relative;
    justify-content: space-between;
    margin-right: 5px;
    padding-right: 10px;
}

.project-item:hover {
    background-color: var(--mainDarkerBlue);
    color: white;
}

.project-item button {
    background: none;
    border: none;
    padding: 0;
}

.project-item > h3 {
    flex: 1;
    text-align: center;
}

.project-drag, .project-settings, .edit-task-icon, .task-deleteIco {
    display: inline-block;
    height: 27px;
    width: 27px;
    background-size: cover;
}

:root[data-theme="light"] .project-drag {
    background-image: url('./images/icons8-menu-50.png');
}

:root[data-theme="dark"] .project-drag {
    background-image: url('./images/icons8-menu-50\ \(1\).png');
}

.project-drag {
    margin-left: 5px;
}

.project-settings {
    background-image: url('./images/icons8-dots-96.png');
}

.edit-task-icon {
    background-image: url('./images/edit-black.png');
}

.task-deleteIco {
    background-image: url('./images/thrash-black.png');
}

:root[data-theme="light"] .project-item:hover .project-drag {
    background-image: url('./images/icons8-menu-50\ \(1\).png');
}

.project-item:hover .project-settings  {
    background-image: url('./images/icons8-dots-48\ \(1\).png');
}

#btnAddProject, #btnAddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: none;
    border: none;
    width: 145px;
    padding: 7px;
    font-family: 'Poppins';
    border-radius: 7px;
    margin: 12px auto;
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    gap: 5px;
}

#btnAddTask {
    margin: 0;
    align-self: center;
}

#btnAddProject::before, #btnAddTask::before {
    display: inline-block;
    position: relative;
    content: '';
    background-image: url('/src/images/icons8-add-96.png');
    background-size: cover;
    height: 25px;
    width: 25px;
}

#btnAddProject:hover, #btnAddTask:hover {
    background-color: var(--mainDarkerBlue);
    color: white;
}

#btnAddProject:hover::before, #btnAddTask:hover::before {
    background-image: url('./images/icons8-add-96\ \(1\).png');
}

#project-form {    
    padding: 20px;
    border: 2px solid var(--mainDarkerBlue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#project-name-box > * {
    display: block;
}

#project-name-box {
    align-self: flex-start;
}

#project-name-box label {
    font-size: 23px;
    font-weight: bold;
    color: black;
}

#project-area {
    border: 3px solid var(--mainDarkerBlue);
    margin-right: 7px;
    flex: 1;
    border-radius: 20px;
    padding: 10px 20px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.task {
    color: black;
    padding: 2px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 16px;
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 11%);
    background-color: white;
    overflow: hidden;
    transition: min-height 0.4s;
    transition-property: min-height, opacity;
    transition-duration: 0.5s;
    min-height: 53px;
    display: flex;
    margin: 0 5px;
    border: 1px solid var(--mainDarkerBlue);
    flex-wrap: wrap;
    justify-content: end;
    visibility: hidden;
    opacity: 0;
}

#project-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow: overlay;
}

#project-title {
    border: 2px solid var(--mainDarkerBlue);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.task-title {
    font-size: 18px;
}

.task-description {
    margin: 0;
    color: gray;
    font-size: 13px;
    text-overflow: ellipsis;
    width: 90%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.task-date {
    font-size: 10px;
    text-wrap: nowrap;
    align-self: center;
    border: 1px solid var(--mainDarkerBlue);
    padding: 2px 8px;
    border-radius: 40px;
}

.task-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 87px;
}

.task .settings, .edit-task, .delete-task {
    background: 0;
    padding: 0;
    border: 0;
}

.task .settings i, .edit-task-icon, .task-deleteIco {
    height: 23px;
    width: 23px;
}

#taskForm {
    border: 3px solid var(--mainDarkerBlue);
    border-radius: 20px;
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 13%);
    color: black;
    background: white;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
}

#taskForm > * {
    margin: 0 15px;
}

#title-box, #description-box {
    display: flex;
    flex-direction: column;
}

#title-box > label {
    font-size: 23px;
    font-weight: bold;
}

input[type='text'], #description {
    font-size: 20px;
    outline: none;
    border: 2px solid #9E9E9E;
    border-radius: 5px;
    resize: none;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 15px 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #9b9b9b63; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: gray; 
    transition: background-color 1s;
}

#details-box {
    display: flex;
    justify-content: space-between;
}

#background-form {
    background-color: #80808063;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-box {
    align-self: end;
    display: flex;
    gap: 5px;
}

#btnAddTask {
    visibility: hidden;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.options {
    visibility: hidden;
    color: black;
    border: 2px solid var(--mainDarkerBlue);
    z-index: 1;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    top: -58px;
    left: 179px;
    transform: translateY(5px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    cursor: default;
}

.options > li {
    background-color: white;
}

.options > li:first-child {
    border-radius: 4px 4px 0 0;
}

.options > li:last-child {
    border-radius: 0 0 4px 4px;
}

.options > li:hover {
    background-color: #e7e7e7;
}

button.rename, button.delete {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    cursor: default;
    transition: none;
    height: 22px;
    width: 100%;
    padding: 0 5px;
    text-align: start;
} 

.rename:disabled, .delete:disabled {
    color: black;
}

.tasks-details {
    display: flex;
    gap: 13px;
}

#taskPrio-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskPrio-box label {
    margin-top: 2px;
}

#inputImportant {
    appearance: none;
    background-image: url('./images/icons8-star-50.png');
    background-size: cover;
    margin: 0;
    height: 30px;
    width: 30px;
    transition: background-image 0.1s ease-in-out;
}

#inputImportant:checked {
    background-image: url('./images/icons8-star-48.png');
}

#sidebar.hidden {
    margin-left: -310px;
    opacity: 0;
}

@media (max-width: 700px) {
    #content {
        flex-direction: column;
        padding: 7px;
    }

    #sidebar {
        width: 100%;
        margin: 0;
        max-height: 50%;
    }

    #project-area {
        margin: 0;
    }

    #sidebar.hidden {
        margin: 0;
        max-height: 400px;
        margin-top: -408px;
    }

    #taskForm {
        max-width: 360px;
    }
}